html, body {
  height: 100%;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.alert-secondary {
  word-break: break-all;
}

.led-row {
  width: 100%;
  line-height: 1;
}

.led-column {
  min-width: 2em;
  min-height: 2em;
  margin: 3px;
  border: solid 2px #bbb;
  border-radius: 2px;
  display: inline-block;
  cursor: url('/img/dropper.png'), auto;
}

.color-picker-wrapper {
  display: inline-block;
  cursor: pointer;
}

.editor {
  margin: 1em 0;
}

.color-picker svg {
  color: #666;
}

.color-picker {
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
  border: 1px solid #ccc;
}
