<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="//use.fontawesome.com/releases/v5.0.6/js/solid.js"></script>
  <script src="//use.fontawesome.com/releases/v5.0.6/js/fontawesome.js"></script>
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&nbsp;</p>
        <div class="form-group">
          <label>Row</label>
          <input type="number" class="form-control" v-model="input.row" v-on:change="createLeds" autofocus>
        </div>
        <div class="form-group">
          <label>Column</label>
          <input type="number" class="form-control" v-model="input.column" v-on:change="createLeds">
        </div>
      </div>
      <div class="col-md-6 editor">
        <p>&nbsp;</p>
        <div class="color-picker-wrapper" v-on:click="triggerColorPicker">
          <!-- <i class="fas fa-eye-dropper fa-lg"></i> -->
          Select Color
          <input type="color" class="color-picker" v-model="input.color" v-on:change="applyColor">
        </div>
        <div>
          <a href="#" v-on:click="input.showID = !input.showID">Toggle ID</a>
          <!-- <i
            class="fas fa-lg"
            v-on:click="input.showID = !input.showID"
            v-bind:class="{ 'fa-eye': input.showID, 'fa-slash': !input.showID }"
          ></i> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="led-row" v-for="i in Math.ceil(leds.length / input.column)">
          <div
            class="led-column"
            v-for="led in leds.slice((i - 1) * input.column, i * input.column)"
            v-bind:class="{ active: led.active }"
            v-bind:style="{ 'background-color': led.color }"
            v-bind:id="led.id"
            v-on:click="toggleLed"
            :key="led.id"
          >
            <span class="led-id" v-if="input.showID">{{led.id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="index.js"></script>
</body>
</html>