input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.led-row {
  width: 100%;
}

.led-column {
  min-width: 2em;
  min-height: 2em;
  margin: 3px;
  border: solid 2px #bbb;
  border-radius: 2px;
  display: inline-block;
}

.led-column.active,
.led-column:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.color-picker {
  display: inline-block;
  cursor: pointer;
}

.editor {
  margin: 1em 0;
}

.color-picker svg {
  color: #666;
}

.color-picker .current-color {
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
  border: none;
}
